# ---------------------------
# Postgres Database Variables
# ---------------------------
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_NAME=main

# ---------------------------
# TSUIKA API VARIABLES
# ---------------------------

# REQUIRED
DOMAIN=localhost
DATABASE_URL=postgres://postgres:postgres@localhost:5432/main
HOST_URL=http://localhost:8000
BETTER_AUTH_URL=http://localhost:8000
FRONTEND_ORIGIN=http://localhost:3000
ENABLE_EMAIL_VERIFICATION=false
RESEND_API_KEY=
JWT_SECRET=UzD3u3JT5uqou2FYEUQH7L4ZSenaSEgHZ7Xb9V5QkaLV25weoZ

# OPTIONAL
CORS_ORIGIN_HOPPSCOTCH=
CORS_ORIGIN_BROWSER_EXTENSION=


# ---------------------------
# TSUIKA FRONTEND 
# ---------------------------

# REQUIRED 
VITE_API_BASE_URL=http://localhost:8000

# OPTIONAL
VITE_GENAI_API_KEY=


# ---------------------------
# MEILI FRONTEND
# ---------------------------
MEILI_HOST=http://meilisearch:7700
MEILI_MASTER_KEY=tjiDmy5TmauirSwC5fbgxfNRjUaNUQcDYKUYCFjq
